* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Bitter', serif;
}

body {
    background-color: #cdd4dd;
}

.todoList {
    width: 480px;
    margin: 100px auto;
    overflow: hidden;
    background-color: #153A5E;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.todoList>h1 {
    text-align: center;
    padding: 15px;
    color: rgb(233, 233, 233);
}

.addTodos {
    display: flex;
    padding-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    font-size: 22px;
    padding: 5px;
    outline: none;
    border: none;
}

#addBtn {
    width: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #7AB3B2;
    color: #FFFFFE
}

.todoItem {
    padding: 10px;
    font-size: 20px;
    height: 25px;
    position: relative;
    overflow: hidden;
    background: #188DB4;
    color: #FFFFFE
}

.list ul :nth-child(2n) {
    background-color: #B1FAFE;
    color: #153A5E
}

.list ul {
    margin: 0;
}

.deleteBtn {
    display: block;
    width: 45px;
    height: 100%;
    color: white;
    position: absolute;
    right: -100px;
    top: 0;
    padding: 10px;
    font-size: 22px;
    transition: all .3s ease;
    text-align: center;
    background: #c43541;
}

.todoItem:hover .deleteBtn {
    right: 0;
}

.checked {
    text-decoration: line-through;
    text-decoration-color: rgb(241, 252, 141);
}

@media (max-width:600px) {
    .todoList {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    body {
        background-color: #153A5E;
    }
}